{% extends 'base.html.twig' %}

{% block body %}
<div class="col-left-1 col-10">
    <main>
        <h2>{{ 'ticket'|trans }}#{{ticket.id}}
            <td style="text-align:center;"><span class="label  {% if ticket.status == 'waiting' %}label-orange{% else  %}label-green{% endif %}">{{ ticket.status|trans }}</span></td>
            <a style="float:right" href="{{path('tickets')}}"><span class="label label-primary"><i class="fa fa-reply"></i> {{'back_to_tickets'|trans}}</span></a>
        </h2>

        <table class="table table-zebra">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>{{'title'|trans}}</td>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <td>{{'date'|trans}}</td>
                <td>{{ ticket.dateEmit|date('d/m/Y | H:i' )}}</td>
            </tr>
            <tr>
                <td>{{'author'|trans}}</td>
                <td >{% include 'modules/user.html.twig' with {'user' : ticket.author} %}</td>
            </tr>
            <tr>
                <td>{{'content'|trans}}</td>
                <td>{{ticket.content}}</td>
            </tr>
            {% if app.user.isAdmin %}
            <tr>
                <td>{{'action'|trans}}</td>
                <td>
                        <a href="{{path('deleteTicket', {'ticketId' : ticket.id})}}"  class="button button-small button-red"><i class="fa fa-trash"></i>{{'delete'|trans}}</a>
                        {% if ticket.status == 'waiting'%}
                            <a href="{{path('processTicket', {'ticketId' : ticket.id})}}"  class="button button-small button-gree""><i class="fa fa-check"></i>{{'mark_as_processed'|trans}}</a>
                        {% endif %}
                </td>
            </tr>
            {% endif %}
    </table>
</div>


{% endblock %}
