{% extends 'base.html.twig' %}

{% block title %}- {{ 'Users administration'|trans }}{% endblock %}

{% block body %}
<div class="col-left-2 col-8">
	{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="error">
				{{ flashMessage|trans }}
			</div>
	{% endfor %}
	<h2>{{ 'users'|trans }}</h2>
	<table class="table table-zebra table-hover">
		<tr>
			<th>{{ 'Username'|trans }}</th>
			<th>{{ 'E-mail'|trans }}</th>
			<th>{{ 'Locale'|trans }}</th>
			<th>{{ 'Status'|trans }}</th>
			<th>{{ 'Actions'|trans }}</th>
		</tr>
	{% for user in users %}
		<tr>
			<td>{% include 'modules/user.html.twig' with {'user' : user} %}</a></td>
			<td>{{ user.email }}</td>
			<td style="text-align:center;">{{ user.locale }}</td>
			<td style="text-align:center;">
				<a href="{{ path('toggleUserAdmin', {'userId': user.id}) }}">
				{% if user.isAdmin %}
					<span class="label label-green">admin</span>
				{% else %}
					<span class="label">user</span>
				{% endif %}
				</a>
			</td>
			<td>
                {% if user.id != app.user.id %}
				<a href="{{path('deleteUserAdmin', {"userId" : user.id()})}}" class="button button-small button-red" title="{{ 'user.delete'|trans }}"><i class="fa fa-trash"></i></a>
                {% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
    {% include 'modules/pagination_buttons.html.twig' with {'total' : total_users, 'length' : users|length,  'nb_elements_page' : nb_elements_admin} %}
</div>
{% endblock %}
