{% extends 'base.html.twig' %}

{% block title %}- {{ '%name%\'s profile'|trans({'%name%': app.user.username}) }}{% endblock %}

{% block body %}
	<div class="col-left-1 col-10">
        <div class="container container-red">
            <header>{{'something_wrong'|trans}}</header>
            <main><a href="{{path('tickets')}}">{{'send_us_ticket'|trans}}</a></main>
        </div>



		<h2>{{ 'Edit profile'|trans }} <a class="button button-small button-blue" href="{{ path('profile', {'username': app.user.username}) }}" style="float:right;">{{ 'Show what others see'|trans }}</a></h2>
		{{ form_start(form, {'attr': {'class': 'form form-left'}}) }}
			<div class="form_group row">
				<label class="col-3">{{ 'Username'|trans }}</label>
				<div class="input col-8">
					<input type="text" disabled class="col-twothirds" value="{{ app.user.username }}">
				</div>
			</div>
			{% for f in form %}
				{% if not f.vars.compound and "hidden" not in f.vars.block_prefixes %}
					<div class="form_group row">
						{{ form_label(f, null, {'label': (f.vars.label|trans), 'label_attr': {'class': 'col-3'}}) }}
						<div class="input col-8">
							{% set class = 'twothirds' %}
							{% if f.vars.value|length > 0 %}
								{% set class = class ~ (f.vars.valid ? ' success' : ' error')  %}
							{% endif %}
							{{ form_widget(f, {'attr': {'class': class} })|raw }}
							{% if f.vars.errors|length > 0 %}
					            {% for error in f.vars.errors %}
									<p class="error">{{ error.message|trans }}</p>
					            {% endfor %}
					        {% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<div class="form_group row">
				{{ form_label(form.newPassword.first, null, {'label': 'New password'|trans, 'label_attr': {'class': 'col-3'}}) }}
				<div class="input col-8">
					{% set class = 'twothirds' %}
					{% if form.newPassword.first.vars.value|length > 0 %}
						{% set class = class ~ (form.newPassword.first.vars.valid ? ' success' : ' error')  %}
					{% endif %}
					{{ form_widget(form.newPassword.first, {'attr': {'class': class}}) }}
				</div>
			</div>
			<div class="form_group row">
				{{ form_label(form.newPassword.second, null, {'label': 'Confirm new password'|trans, 'label_attr': {'class': 'col-3'}}) }}
				<div class="input col-8">
					{{ form_widget(form.newPassword.second, {'attr': {'class': 'twothirds'}}) }}
					{% if form.newPassword.first.vars.errors|length > 0 %}
						{% for error in form.newPassword.first.vars.errors %}
							<p class="error">{{ error.message|trans }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<input type="submit" role="button" name="register" value="{{ 'Update'|trans }}" class="col-12 button button-primary" />
		{{ form_end(form) }}
	</div>
{% endblock %}
