{% extends 'base.html.twig' %}

{% block title %}- {{ 'Gallery'|trans }}{% endblock %}

{% block body %}
    <div class="col-10 col-left-1">
		<h2>{{ 'Gallery'|trans }}</h2>
		<div class="container col-12" id="gallery">
		    {% for sketch in sketches %}
				<figure class="thumbnail col-3">
					<a href="{{ path('showSketch', {'sketchId': sketch.id}) }}" class="sketch">
			            <img src="{{ asset(sketches_directory ~ '/' ~ sketch.path)}}">
					</a>
					<figcaption>
						{{ 'sketch.authors'|transchoice(sketch.authors|length) }} :
					{% set first = true %}
					{% for author in sketch.authors %}{{ (first ? '' : ', ') }}<a href="{{ path('profile', {'username': author.username}) }}">{{ author.username }}</a>{% set first = false %}{% endfor %}
					</figcaption>
				</figure>
		    {% endfor %}
		</div>
    </div>

{% endblock %}
