{% extends 'base.html.twig' %}

{% block title %}- {{ 'Gallery'|trans }}{% endblock %}

{% block body %}
    <div class="col-10 col-left-1">
	{% if tag is defined %}
		<h2>{{ 'sketches.by.tag'|trans }} <span class="label label-primary" style="vertical-align:middle;">{{ tag }}</span></h2>
	{% elseif personal is defined %}
        <h2>{{'sketches_of'|trans}}
    {% else %}
		<h2>{{ 'Gallery'|trans }}</h2>
    {% endif %}
    {% include 'modules/pagination.html.twig' with {    'sketches' : sketches,
                                                        'total_sketches' : total_sketches
                                                    }   %}
</div>


{% endblock %}
