{% extends 'base.html.twig' %}

{% block title %}- {{ 'Gallery'|trans }}{% endblock %}

{% block body %}
    <div class="col-10 col-left-1">
	{% if tag is defined %}
		<h2>{{ 'sketches.by.tag'|trans }} {% include 'modules/tag.html.twig' with {'tag_name' : tag} %}</h2>
	{% elseif specific_user is defined %}
        <h2>{{'sketch_of'|trans({'%username%' : specific_user})}}
        <a href="{{path('profile', {'username' : specific_user })}}"><span class="label label-primary">{{'access_profil'|trans}}</span></a>
        </h2>
    {% elseif search is defined %}
    <h2>Results of {{search}} </h2>
    {% else %}
		<h2>{{ 'Gallery'|trans }}</h2>
        <!-- <div class="container" style="float:right">aaaa </div> -->
    {% endif %}
    {% if sketches|length == 0 %}
     <div class="container container-red">
         <header>{{'no.sketch'|trans}}</header>
         <main>{{'no.sketch.explanation'|trans}}</main>
    </div>

    {% else %}
    {% include 'modules/pagination.html.twig' with {    'sketches' : sketches,
                                                        'total_sketches' : total_sketches
                                                    }   %}
    {% endif %}
</div>


{% endblock %}
