{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-left-1 col-10" >
        <center>
        <h1>{{'Welcome on Sketcher !'|trans}}</h1>
        <p class="">{{'Website description'|trans|raw}}<p>
        </center>
    </div>

	<div class="col-left-1 col-10">
		<h5>{{ 'Most liked drawings'|trans }}</h5>

        {% if sketches|length == 0 %}
         <div class="container container-red">
             <header>{{'no.sketch'|trans}}</header>
             <main>{{'no.sketch.explanation'|trans}}</main>
        </div>

        {% else %}
        {% include 'modules/pagination.html.twig' with {    'sketches' : sketches,
                                                            'total_sketches' : total_sketches
                                                        }   %}
        {% endif %}

{% endblock %}

{# {% block sketcher_stylesheets %}
<link rel="stylesheet" href="css/jsColor.css">
<link rel="stylesheet" href="css/sketcher.css">
<link rel="manifest" href="manifest.webmanifest">
{% endblock %}

{% block sketcher_javascripts %}
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/jsColor.js"></script>
{% endblock %} #}
