{% extends 'base.html.twig' %}

{% block title %}- {{ 'New sketch'|trans }}{% endblock %}

{% block body %}
<div class="container col-left-2 col-8">
	<header>{{ 'create.sketch'|trans }}</header>
	<br>
	{{ form_start(form, {'attr': {'class': 'form form-left'}}) }}
	<div class="form_group row">
		{{ form_label(form.name, null, {
			'label': form.name.vars.label|trans,
			'label_attr': {
				'class': 'col-2'
			}
		}) }}
		<div class="input col-9">
			{% set class = '' %}
			{% if form.name.vars.value|length > 0 %}
				{% set class = class ~ (form.name.vars.valid ? ' success' : ' error')  %}
			{% endif %}
			{{ form_widget(form.name, {'attr': {'class': class} }) }}
			{% if form.name.vars.errors|length > 0 %}
				{% for error in form.name.vars.errors %}
					<p class="error">{{ error.message|trans }}</p>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="form_group row">
		{{ form_label(form.width, null, {
			'label': form.width.vars.label|trans ~ ' (px)',
			'label_attr': {
				'class': 'col-2'
				}
		}) }}
		<div class="input col-3">
			{% set class = '' %}
			{% if form.width.vars.value|length > 0 %}
			{% set class = class ~ (form.width.vars.valid ? ' success' : ' error')  %}
			{% endif %}
			{{ form_widget(form.width, {'attr': {'class': class} }) }}
			{% if form.width.vars.errors|length > 0 %}
			{% for error in form.width.vars.errors %}
			<p class="error">{{ error.message|trans }}</p>
			{% endfor %}
			{% endif %}
		</div>
		{{ form_label(form.height, null, {
			'label': form.height.vars.label|trans ~ ' (px)',
			'label_attr': {
				'class': 'col-2 col-left-1'
			}
		}) }}
		<div class="input col-3">
			{% set class = '' %}
			{% if form.height.vars.value|length > 0 %}
			{% set class = class ~ (form.height.vars.valid ? ' success' : ' error')  %}
			{% endif %}
			{{ form_widget(form.height, {'attr': {'class': class} }) }}
			{% if form.height.vars.errors|length > 0 %}
			{% for error in form.height.vars.errors %}
			<p class="error">{{ error.message|trans }}</p>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="form_group row">
		{{ form_label(form.tags, null, {
			'label': form.tags.vars.label|trans,
			'label_attr': {
				'class': 'col-2'
			}
		}) }}
		<div class="input col-9">
			<div class="tagInput">
				<div id="sketch_tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}"></div>
				{% for tag in form.tags %}
				    {{ form_errors(tag) }}
				    {{ form_widget(tag) }}
				{% endfor %}
				<input type="text" class="tagInputField">
			</div>
		</div>
	</div>
    <input type="submit" value="{{ 'create.sketch'|trans }}" class="col-12 button button-primary" />
{{ form_end(form) }}
</div>
<script src="{{ asset('js/tagInput.js') }}"></script>
<script>
	var tags = new tagInput({
		allowNew: true,
	});
</script>
{% endblock %}
