{% extends 'base.html.twig' %}

{% block title %}- {{ 'New sketch'|trans }}{% endblock %}

{% block body %}
<div class="col-left-2 col-8">
	<h2>{{ 'Create sketch'|trans }}</h2>
	<main>
	{{ form_start(form, {'attr': {'class': 'form form-left'}}) }}
			{% for f in form %}
				{% if not f.vars.compound and "hidden" not in f.vars.block_prefixes %}
					<div class="form_group row">
						{{ form_label(f, null, {'label': (f.vars.label|trans), 'label_attr': {'class': 'col-4'}}) }}
						<div class="input col-7">
							{% set class = 'twothirds' %}
							{% if f.vars.value|length > 0 %}
								{% set class = class ~ (f.vars.valid ? ' success' : ' error')  %}
							{% endif %}
							{{ form_widget(f, {'attr': {'class': class} }) }}
							{% if f.vars.errors|length > 0 %}
								{% for error in f.vars.errors %}
									<p class="error">{{ error.message|trans }}</p>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
    <input type="submit" value="{{'Upload Sketch'|trans}}" class="col-12 button button-primary" />
{{ form_end(form) }}
</div>
{% endblock %}
