{% extends 'base.html.twig' %}

{% block title %}- {{ sketch is not null ? sketch.name : 'sketch.not.found'|trans }}{% endblock %}

{% block body %}
	<div class="col-left-1 col-10">
	{% if sketch is null %}
		<div class="error">
			<h5>{{ 'sketch.not.found'|trans }}</h5>
			{{ 'sketch.not.found.explanation'|trans }}
		</div>
	{% else %}
		<center>
			<figure id="showSketch" class="thumbnail">
				<img src="{{ asset(sketches_directory ~ '/' ~ sketch.path) }}" alt="{{ sketch.name }}">
				<figcaption>{{ sketch.name }}</figcaption>
			</figure>
		</center>
	{% endif %}

	</div>
    {% if form is not null %}
    <div>
    {{ form_start(form) }}
        <div class="form_group row">
        {{ form_row(form.content) }}
        </div>
        <input type="submit" role="button" name="upload" value={{'Commenter'}} class="col-12 button button-primary" />

    {{form_end(form)}}
    </div>
    {% endif %}
    {% for comment in comments %}
    <div>
    {{comment.author.username}}
    {{comment.date|date('Y-m-d')}}
    {{comment.content}}<br/>
</div>
    {% endfor %}




{% endblock %}
