{% extends 'base.html.twig' %}

{% block title %}- {{ sketch is not null ? sketch.name : 'sketch.not.found'|trans }}{% endblock %}

{% block body %}
	<div class="col-left-1 col-10">
	{% if sketch is null %}
		<div class="error">
			<h5>{{ 'sketch.not.found'|trans }}</h5>
			{{ 'sketch.not.found.explanation'|trans }}
		</div>
	{% else %}
            <div class="row">
                <div class="col-9">
                    <center>
                        <h4>{{ sketch.name }}</h4>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
    			<figure id="showSketch" class="thumbnail">
    				<img src="{{ asset(sketches_directory ~ '/' ~ sketch.path) }}" alt="{{ sketch.name }}">
    				<figcaption>
    					{% if app.user is not null and app.user in sketch.authors %}
    					<ul class="button-group" style="float:left;">
    						<li>
    							<a href="{{ path('sketch', {'sketchId': sketch.id}) }}" class="button button-small button-primary"><i class="fa fa-pencil"></i> {{ 'edit'|trans }}</a>
    							<a href="#" class="button button-small button-red"><i class="fa fa-trash"></i> {{ 'delete'|trans }}</a>
    						</li>
    					</ul>
    					{% endif %}
                        {% include 'modules/thumbs_up.html.twig' with {'sketch' : sketch} %}
    				</figcaption>
    			</figure>
            </div>
            <div class="col-3">
                <div class="container">
                    <header>{{'sketch.title'|trans}}</header>
                    <div class="wordTruncation">{{sketch.name}}</div>
                </div>
                <div class="container">
                    <header>{{'sketch.tags'|transchoice(sketch.tags|length)}}</header>
                    <main>
                        {% for tag in sketch.tags %}
                            {% include 'modules/tag.html.twig' with {'tag_name' : tag.name} %}
                        {% endfor %}
                    </main>
                </div>
                <div class="container">
                    <header>{{'sketch.authors'|transchoice(sketch.authors|length)}}</header>
                    <main>
                    {% for author in sketch.authors %}
                        {% include 'modules/user.html.twig' with {'user' : author} %}<br/>
                    {% endfor %}
                    </main>
                </div>
            </div>
        </div>
		{% if form is not null %}
		<hr>
		<div>
			{% for comment in comments %}
			<div class="container comment">
				<header>{{ comment.author.username }}<span class="date">{{ comment.date|date('d/m/Y | H:i') }}</span></header>
				{{comment.content}}<br/>
			</div>
			{% endfor %}
			{{ form_start(form) }}
			<div class="form_group row">
				{{ form_label(form.content, null, {'label': (form.content.vars.label|trans), 'label_attr': {'class': 'col-left-1 col-2'}}) }}
				<div class="input col-9">
					{% set class = 'col-12' %}
					{{ form_widget(form.content, {'attr': {'class': class} })|raw }}
					{% if form.content.vars.errors|length > 0 %}
						{% for error in form.content.vars.errors %}
							<p class="error">{{ error.message|trans }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<input type="submit" value={{ 'Comment'|trans }} class="col-12 button button-primary" />
			{{form_end(form)}}
		</div>
		{% endif %}
	{% endif %}
	</div>
{% endblock %}
