{% extends 'base.html.twig' %}

{% block title %}- {{ sketch is not null ? sketch.name : 'sketch.not.found'|trans }}{% endblock %}

{% block body %}
	<div class="col-left-1 col-10">
	{% if sketch is null %}
		<div class="error">
			<h5>{{ 'sketch.not.found'|trans }}</h5>
			{{ 'sketch.not.found.explanation'|trans }}
		</div>
	{% else %}
		{% set can_like = (sketch.likers.contains(app.user) ? false : true) %}
		<center>
			<h4>{{ sketch.name }}</h4>
			{% if already_liked %}
			<div class="error">
				<h5>{{ 'already.liked'|trans }}</h5>
			</div>
			<br>
			{% endif %}
			<figure id="showSketch" class="thumbnail">
				<img src="{{ asset(sketches_directory ~ '/' ~ sketch.path) }}" alt="{{ sketch.name }}">
				<figcaption>
					{% if app.user is not null and app.user in sketch.authors %}
					<ul class="button-group" style="float:left;">
						<li>
							<a href="{{ path('sketch', {'sketchId': sketch.id}) }}" class="button button-primary"><i class="fa fa-pencil"></i> {{ 'edit'|trans }}</a>
							<a href="#" class="button button-red"><i class="fa fa-trash"></i> {{ 'delete'|trans }}</a>
						</li>
					</ul>
					{% endif %}
					{% if app.user is not null %}
					<a href="{{ path('like', {'sketchId': sketch.id}) }}" class="button{{ can_like ? ' button-green' : '' }}" style="float:right;border-radius:0 3px 3px 0;" {{ not can_like ? 'title="' ~ 'already.liked'|trans ~ '" disabled' : '' }}><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;{{ 'like'|transchoice(sketch.likes) }}</a>
					<button class="button button-green" style="float:right;border-radius:3px 0 0 3px;border-right:1px solid rgba(255,255,255,.3)" disabled>{{ sketch.likes }}</button>
					{% endif %}
				</figcaption>
			</figure>
		</center>
		{% if form is not null %}
		<div>
			{% for comment in comments %}
			<div class="container comment">
				<header>{{ comment.author.username }}<span class="date">{{ comment.date|date('Y-m-d') }}</span></header>
				{{comment.content}}<br/>
			</div>
			{% endfor %}
			{{ form_start(form) }}
			<div class="form_group row">
				{{ form_label(form.content, null, {'label': (form.content.vars.label|trans), 'label_attr': {'class': 'col-left-1 col-2'}}) }}
				<div class="input col-9">
					{% set class = 'col-12' %}
					{{ form_widget(form.content, {'attr': {'class': class} })|raw }}
					{% if form.content.vars.errors|length > 0 %}
						{% for error in form.content.vars.errors %}
							<p class="error">{{ error.message|trans }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<input type="submit" role="button" name="upload" value={{ 'Comment'|trans }} class="col-12 button button-primary" />
			{{form_end(form)}}
		</div>
		{% endif %}
	{% endif %}
	</div>
{% endblock %}
