{% extends 'base.html.twig' %}

{% block title %}- {{ sketch is not null ? sketch.name : 'sketch.not.found'|trans }}{% endblock %}

{% set can_modify = app.user is not null and app.user.isAuthorOf(sketch) or app.user.isAdmin %}


{% block body %}
	<div class="col-left-1 col-10">
	{% if sketch is null %}
		<div class="error">
			<h5>{{ 'sketch.not.found'|trans }}</h5>
			{{ 'sketch.not.found.explanation'|trans }}
		</div>
	{% else %}
            <div class="row">
                <div class="col-9">
                    <center>
                        <h4 class="title_refresh">{{ sketch.name }}</h4>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
    			<figure id="showSketch" class="thumbnail">
    				<img src="{{ asset(sketches_directory ~ '/' ~ sketch.path) }}" alt="{{ sketch.name }}">
    				<figcaption>
    					{% if can_modify %}
    					<ul class="button-group" style="float:left;">
    						<li>
                            {% if app.user.isAdmin %}
                                <a href="{{path('deleteSketchAdmin', {'sketchId' : sketch.id})}}" class="button button-small button-red"><i class="fa fa-trash"></i>{{ 'delete'|trans }}</a>
                            {% else %}
    							<a href="{{ path('sketch', {'sketchId': sketch.id}) }}" class="button button-small button-primary"><i class="fa fa-pencil"></i> {{ 'edit'|trans }}</a>
                                <a href="{{path('deleteSketch', {'sketchId' : sketch.id})}}" class="button button-small button-red">
                                {% if sketch.authors|length == 1 %}
                                    <i class="fa fa-trash"></i>{{ 'delete'|trans }}
                                {% else %}
                                    <i class="fa fa-times"></i>{{ 'remove_author'|trans }}
                                {% endif %}
                                </a>
                            {% endif %}
    						</li>
    					</ul>
    					{% endif %}
                        {% include 'modules/thumbs_up.html.twig' with {'sketch' : sketch} %}
    				</figcaption>
    			</figure>
            </div>
            <div class="col-3">
                <div class="container">
                    <header>{{'sketch.title'|trans}}</header>
				{% if can_modify %}
					{{ form_widget(sketch_form.name) }}
				{% else %}
                    <div class="wordTruncation">{{sketch.name}}</div>
				{% endif %}
                </div>
                <div class="container">
                    <header>{{'sketch.tags'|transchoice(sketch.tags|length)}}</header>
                    <main>
					{% if can_modify %}
						<div id="tagInput">
							<div id="tagInputPrototype" data-prototype="{{ form_widget(sketch_form.tags.vars.prototype)|e }}"></div>
							{% for tag in sketch.tags %}
							<input type="text" id="sketch_tags_{{ tag.id }}" name="sketch[tags][{{ tag.id }}]" class="tagInputValue" value="{{ tag.name }}" required="required"/>
							{% endfor %}
							<input type="text" class="tagInputField">
						</div>
					{% else %}
						{% for tag in sketch.tags %}
						{% include 'modules/tag.html.twig' with {'tag_name' : tag.name} %}
						{% endfor %}
					{% endif %}
                    </main>
                </div>
                <div class="container">
                    <header>{{'sketch.authors'|transchoice(sketch.authors|length)}}</header>
                    <main>
					{% if app.user is not null  and app.user.isAuthorOf(sketch) %}
						<div id="authorInput">
							<div id="authorInputPrototype" data-prototype="{{ form_widget(sketch_form.authors.vars.prototype)|e }}"></div>
							{% for author in sketch.authors %}
							<input type="text" id="sketch_authors_{{ author.id }}" name="sketch[authors][{{ author.id }}]" class="tagInputValue" value="{{ author.username }}" required="required"/>
							{% endfor %}
							<input type="text" class="tagInputField">
						</div>
					{% else %}
						{% for author in sketch.authors %}
						{% include 'modules/user.html.twig' with {'user' : author} %}
						{% endfor %}
					{% endif %}
                    </main>
                </div>
            </div>
        </div>
		{% if comment_form is not null %}
		<hr>
		<div>
			{% for comment in comments %}
			<div class="container comment">
				<header>{{ comment.author.username }}<span class="date">{{ comment.date|date('d/m/Y | H:i') }}</span>
                {% if comment.author.id == app.user.id or app.user.isAdmin %}
                    <a href="{{path('deleteComment', {'sketchId' : sketch.id, 'commentId' : comment.id})}}"><i class="fa fa-trash"></i>{{ 'delete'|trans }}</a>
                {% endif %}
                </header>
				{{comment.content|nl2br}}<br/>
			</div>
			{% endfor %}
			{{ form_start(comment_form) }}
			<div class="form_group row">
				{{ form_label(comment_form.content, null, {'label': (comment_form.content.vars.label|trans), 'label_attr': {'class': 'col-left-1 col-2'}}) }}
				<div class="input col-9">
					{% set class = 'col-12' %}
					{{ form_widget(comment_form.content, {'attr': {'class': class} })|raw }}
					{% if comment_form.content.vars.errors|length > 0 %}
						{% for error in comment_form.content.vars.errors %}
							<p class="error">{{ error.message|trans }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<input type="submit" value={{ 'Comment'|trans }} class="col-12 button button-primary" />
			{{form_end(comment_form)}}
		</div>
		{% endif %}
	{% endif %}
	</div>
<script src="{{ asset('js/fastInput.js') }}"></script>
<script src="{{ asset('js/tagInput.js') }}"></script>
<script>
	var title = new fastInput({
		elm: document.getElementById('sketch_name'),
		extraData: '/{{ sketch.id }}',
		updateClass: '.title_refresh'
	});
	var tags = new tagInput({
		elm: document.getElementById('tagInput'),
		idPattern: 'sketch_tags___name___name',
		entity: 'tag',
		prototypeId: 'tagInputPrototype',
		allowNew: true,
		dynamicUpdate: true,
		extraData: '/{{ sketch.id }}'
	});
	var authors = new tagInput({
		elm: document.getElementById('authorInput'),
		idPattern: 'sketch_authors___name___name',
		entity: 'author',
		prototypeId: 'authorInputPrototype',
		allowNew: false,
		dynamicUpdate: true,
		extraData: '/{{ sketch.id }}'
	});
</script>
{% endblock %}
