<a href="{{ path('profile', {'username': user.username}) }}">{{ user.username }}<i class="fa fa-circle{{ user.isLoggedIn ? '' : '-o' }}" style="font-size:12px;color:#{{ user.isLoggedIn ? '52d215' : 'ccc' }};margin:0 10px 0 5px;" title="{{ user.isLoggedIn ? 'Online' : 'Offline' }}"></i></a>
