<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sketcher {% block title %}{% endblock %}</title>
		<script src="{{ asset('js/kickstart.js') }}"></script>
		{% block sketcher_stylesheets %}{% endblock %}
		{% block sketcher_javascripts %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/kickstart.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/website.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<header class="navbar" data-ks-navbar>
			<nav>
				<ul>
					<li><a href="{{ path('homepage') }}">Sketcher</a></li>
                    <li>
                        <form class="form form-horizontal" action="{{path('gallery')}}" method="get">
                          <div class="form_group">
                            <input name="searchSketch" type="text" />
                            <input type="submit" />
                          </div>
                        </form>
                    </li>
				</ul>
				<ul>
				{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<li><a {% if app.request.getPathInfo() == path('gallery', {'page': 0}) %}class="active"{% endif %} href="{{ path('gallery') }}"><i class="fa fa-image"></i> {{ 'Gallery'|trans }}</a></li>
					<li><a href="{{ path('signup') }}"><i class="fa fa-pencil"></i> {{ 'Register'|trans }}</a></li>
					<li><a href="{{ path('login') }}"><i class="fa fa-sign-in"></i> {{ 'Login'|trans }}</a></li>
				{% else %}
					<li><a {% if app.request.getPathInfo() == path('newSketch') %}class="active"{% endif %} href="{{ path('newSketch') }}"><i class="fa fa-plus"></i> {{ 'New sketch'|trans }}</a></li>
					<li><a {% if app.request.getPathInfo() == path('gallery') %}class="active"{% endif %} href="{{ path('gallery', {'page' : 0}) }}"><i class="fa fa-image"></i> {{ 'Gallery'|trans }}</a></li>
					<li>{{ app.user.username }}
						<ul>
							<li><a href="{{ path('editProfile') }}" title="{{ 'Profile'|trans }}">{{ 'Profile'|trans }}</a></li>
							<li><a href="{{ path('user_gallery', {'username' : app.user.username}) }}" title="{{ 'my.pictures'|trans }}">{{ 'my.pictures'|trans }}</a></li>
							<li><a href="{{ path('logout') }}" title="{{ 'Logout'|trans }}">{{ 'Logout'|trans }} <i style="color:#C82829;float:right;" class="fa fa-sign-out"></i></a></li>
						</ul>
					</li>
					{% if app.user.isAdmin %}
					<li>{{ 'Administration'|trans }}
						<ul>
							<li><a href="{{ path('usersAdmin') }}">{{ 'Users'|trans }}</a></li>
							<li><a href="#">{{ 'Sketches'|trans }}</a></li>
						</ul>
					</li>
					{% endif %}
				{% endif %}
				</ul>
			</nav>
		</header>
		<section class="row">
			{% block body %}{% endblock %}
		</section>
	</body>
</html>
