<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Sketcher{% endblock %}</title>
{#		{% block sketcher_stylesheets %}{% endblock %}#}
{#		{% block sketcher_javascripts %}{% endblock %}#}
		<link rel="stylesheet" href="//cdn.everything.io/kickstart/3.x/css/kickstart.min.css" />
		<link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<header class="navbar">
			<nav>
				<ul>
					<li><a href="{{ path('homepage') }}">Sketcher</a></li>
				</ul>
				<ul>
				{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<li><a href="{{ path('signup') }}"><i class="fa fa-pencil"></i> {{ 'Register'|trans }}</a></li>
					<li><a href="{{ path('login') }}"><i class="fa fa-sign-in"></i> {{ 'Login'|trans }}</a></li>
				{% else %}
					<li><a {% if app.request.getPathInfo() == path('gallery') %}class="active"{% endif %} href="{{ path('gallery') }}"><i class="fa fa-image"></i> {{ 'Gallery'|trans }}</a></li>
					<li><a href="{{ path('logout') }}" title="Logout"><i style="color:#C82829;" class="fa fa-sign-out"></i></a></li>
				{% endif %}
				</ul>
			</nav>
		</header>
		<section class="row">
			{% block body %}{% endblock %}
		</section>
	</body>
</html>
